/* You can add global styles to this file, and also import other style files */
:root {
    --brand-primary-color-hex: '';
    --brand-secondary-color-hex: '';
    --brand-warn-color-hex: '';
    --brand-success-color-hex: '';
    --brand-info-color-hex: ''
}